<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Photography </title>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <!-- <link rel="stylesheet" href="">
     -->
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <!-- <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script> -->
<link rel = "stylesheet" href = "{{url_for('static',filename='simplelightbox-master/dist/simple-lightbox.css')}}">
</head>
<style>
    
</style>
<body>

    <!-- header -->
    <header class="header">
        <div class="nav-section">
            <div class="brand-and-navBtn">
                <span class="brand-name">
                    SURYASEN_LAB
                </span>
                <span class="navBtn flex">
                    <i class="fas fa-bars"></i>
                </span>
            </div>

            <!-- navigation menu -->
            <nav class="top-nav">
                <ul>
                   {% block nav %}
                       
                   {% endblock nav %}
                </ul>
            </nav>
            <span class="search-icon">
                <i class="fas fa-search"></i>
            </span>
        </div>

        <div class="container about">
            <div class="about-content">
                <div class="about-img flex">
                    <img src="{{ url_for('static', filename='images/me.jpg') }}" alt="photographer img">
                    
                </div>
                <h2>I'm  SURYASEN VISHWAKRMA</h2>
                <h3>Photographer | Traveller</h3>
                <blockquote>
                    "Photography is a way of feeling, of touching, of loving. What you have caught on film is captured
                    forever ... It remembers little things, long after you have forgotten everything."
                    <span>-SURYASEN</span>
                </blockquote>
            </div>

            <div class="social-icons">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/tonu.don.9"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/suryasen_vishwakarma/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- end of header -->

   {% block body %}
       
   {% endblock body %}


    <!-- footer -->
    <footer class="footer">
        <div class="footer-container container">
            <div>
                <h2>SURYASEN VISHWAKRMA </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati sapiente minima itaque nam
                    modi libero optio vitae animi, praesentium quis commodi fugit quasi nostrum nihil veniam nisi
                    suscipit cumque ducimus error doloribus est voluptatum at? Et aut mollitia quia.</p>
            </div>
            <div>
                <h3>Free Subscription!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, facere eius! Ipsam laborum modi,
                    cumque dolor incidunt animi nam magni.</p>

                <div class="subs">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" placeholder="Email Address">
                    <button type="submit">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <p>&copy; Copyright SURYASEN . </p>
    </footer>
    <!-- end of footer -->


    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>

</html>